.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: default;
}
.home_item {
    display: flex;
    width: 50vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.we_are {
    width: 50%;
    padding: 20px;
    opacity: 0.1;
    border-right: 1px solid white;
    h1 {
        margin: 0;
        font-size: 18vh;
        text-align: right;
        vertical-align: center;
    }
}

.button_link {
    padding: 20px;
    width: 50%;
}

.label {
    font-size: 6vh;
    font-weight: 900;
    text-transform: none;
}

.info {
    margin: 20px 0;
    font-size: 16px;
    font-weight: 300;
    opacity: 0.4;
}

.buttton {
    // background: $colorLight;
    // color: $colorDark;
    margin: 0;
    font-size: 16px;
    padding: 4px 16px;
}